*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* hero section */

.hero{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:90px;
    padding:50px 10px;
    flex-wrap:wrap;
    background-color: blanchedalmond;
}

/* image */

.hero-img img{
    width:450px;
    height:450px;
    border:3px solid black;
    border-radius:20px;
}

/* text section */

.hero-name{
    max-width:500px;
}

.hero h1{
    font-size:50px;
}

.hero h3{
    font-size:30px;
    margin-top:2px;
}

.hero p{
    margin-top:5px;
    font-size:20px;
    padding:10px 0;
    font-weight:700;
    text-align: justify;
}

.icon{
    display: flex;
    gap: 10px;
    font-size: 30px;
}

/* resume button */

.resume-btn{
    display:inline-block;
    padding:10px 20px;
    border:2px solid black;
    text-decoration:none;
    color:black;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
    background-color: black;
    color: white;
}

/* mobile */

@media (max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
        gap:1px;
        padding: 5px 10px;
        
        
        
    }

    .hero-img img{
        width:325px;
        
        height: 300px;
    }

    .hero h1{
        font-size:32px;
        padding: 5px;
    }

    .hero h3{
        font-size:20px;
        padding: px;
    }

    .hero p{
        font-size:16px;
        padding:5px 15px;
    }

    .resume-btn{
        margin-top:5px;
    }
    .icon{
        display:flex ;
        justify-content: center;
    }

}